* {
    font-family: Monaspace Neon, sans-serif;
    font-size: 10px;
}

#waybar {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.module {
    padding: 3px 0;
    margin: 0 3px;
}

#workspaces {
    padding: 0;
    margin-left: 0;
}

#workspaces button {
    padding: 3px 0;
    min-height: initial;
    color: inherit;
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    background: rgba(255, 255, 255, 0.3);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#custom-binclock {
    font-size: 14px;
    padding: 0;
}
